<!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		title Example 1
		link(rel="stylesheet" href="./css/styles.css")
	body
		- var base_class = 'hero'
		include partials/_hero.pug
		- var base_class = 'text--adaptive'
		include partials/_content.pug
