<!DOCTYPE html>
html
	head
		meta(charset="utf-8")
		title Example 5
		link(rel="stylesheet" href="./css/styles.css")
	body
		a(href="ex-1.html")
			p Image: Full bleed; full viewport height. Text: Adaptive
		a(href="ex-2.html")
			p Image: Full bleed; full viewport height; content area has max width. Text: Adaptive; has max width.
		a(href="ex-3.html")
			p Image: Full bleed; fixed aspect ratio (16:9). Text: Responsive.
		a(href="ex-4.html")
			p Image: Full bleed; fixed aspect ratio (16:9); content area has max-width. Text: Responsive; has max width/size.
		a(href="ex-5.html")
			p Image: Has max-width; fixed aspect ratio (16:9); content area has max-width. Text: n/a.
